* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #282c35;
  gap: 30px;
}
.header {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
  margin: auto;
}

.sign {
  background: #414a5f;
  color: #faf9f6;
  border-radius: 50px;
  font-size: 40px;
  height: fit-content;
  height: 50px;
  width: 50px;
  align-items: center;
  text-align: center;
  border: none;
}
.sign:hover {
  background-color: #9098aa;
}
.header-icons {
  background-color: #282c35;
  height: 50px;
  width: 50px;
  font-size: 40px;
  border: none;
  border-radius: 100%;
}
.header-icons:hover {
  background-color: #9098aa;
}
input {
  background: #282c35;
  color: #faf9f6;
  border: none;
}
.number {
  font-size: 100px;
}
.text-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header-test {
  margin: 0;
}
