* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-light: #dddddd;
  --primary-dark: #424242;
}

.dark {
  background-color: #333333;
  color: var(--primary-light);
}

.light {
  background-color: #ffdab9;
  color: var(--primary-dark);
}

.header-icons {
  height: 50px;
  width: 50px;
  font-size: 40px;
  border: none;
  border-radius: 100%;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 30px;
}

.header {
  display: flex;
  gap: 10px;
  font-size: 40px;
  height: 50px;
  width: fit-content;
  margin-top: 30px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
  margin: auto;
}

.sign {
  border-radius: 50px;
  font-size: 40px;
  height: fit-content;
  height: 50px;
  width: 50px;
  align-items: center;
  text-align: center;
}

.number {
  font-size: 150px;
}
.text-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
